In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
!pwd

/content

In [4]:
%cd sample_data/

/content/sample_data

In [5]:
df = pd.read_csv('/content/drive/MyDrive/test/2022_02_08-02_30_31_AM.csv')

In [6]:
df.head()

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw

In [42]:
# 1- Products without prices
#Here I am taking the intersection of two column and showing the product price result

In [43]:
df1 = df[df['price_string'].isnull()& (df['price_string_unf'].isnull())]  
df1

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
5,389d9f75-cc3f-4bd2-94f7-93e381a3bed5,NaN,NaN,TmF0dXJhbCBTd2VldGVuZXJzLyBTdWdhcg,TW9uayBGcnVpdA,Z3JvY2VyaWVz
13,1f2766ec-0a27-43f8-b28b-77a44492ead1,NaN,NaN,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U2NydWJz,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
16,7bad39f5-74b9-4611-afb9-46fb135190cd,NaN,NaN,UGx1cyBzaXplIHdlYXIgZHJlc3M,RHJlc3M,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
...,...,...,...,...,...,...
13729992,8d763911-79b7-402d-8964-6bfe89692c66,NaN,NaN,TWVucyB3b3Jrd2Vhci8gb2ZmaWNlIHdlYXI,U2hpcnRz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
13729993,2dc182aa-d591-49e4-85d1-5c4a60a09664,NaN,NaN,U3BpY2Vz,UGVwcGVy,Z3JvY2VyaWVz
13729995,2a13338e-9268-4f7b-9e7c-b8c41c72971b,NaN,NaN,RHJlc3Nlcw,TWF4aSBkcmVzcw,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
13729997,679f073a-862a-4e43-b5ce-41e45afd3bfa,NaN,NaN,UGV0IEZvb2Q,RHJ5IERvZyBGb29k,cGV0IHN1cHBsaWVz
13729998,25677eee-c26b-4abf-bd10-ca77a800ba26,NaN,NaN,U2F1Y2U,QkJRIFNhdWNl,Z3JvY2VyaWVz

In [44]:
#2- Count of products without prices and with prices in each Product Type, Category, Level 1
# Here I used same above code to calculate non price products and price product

In [94]:
# Product with prices
df2 = df[df['price_string'].isnull()==False & (df['price_string_unf'].isnull()==False)]

In [95]:
df2

,uuid,price_string,price_string_unf,product_type,level_1,category
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw
6,9599f1a9-d406-43eb-89f5-9b1c0af1ac9a,$24.99,NaN,TW9wcyBhbmQgYnJvb21z,TW9w,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
7,35799087-f6f4-4ca2-abfe-cbb5c27d2f1a,$148.00,NaN,V29tZW5zIFBhbnRz,V29tZW5zIFJlZ3VsYXIvQ2FzdWFsIFBhbnRz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
...,...,...,...,...,...,...
13729987,e12c3fe8-2987-4e95-93b2-14e173d8028a,$32.99,NaN,UGxhbnQgYmFzZWQgUHJvdGVpbiBTdXBwbGVtZW50cw,UGxhbnQgYmFzZWQgUHJvdGVpbiBTdXBwbGVtZW50cw,SGVhbHRo
13729989,544416c3-4845-4427-b27b-d3ca9beca970,$34.00,NaN,U3Vuc2NyZWVu,VmVnYW4gU3Vuc2NyZWVu,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
13729994,f0ec31d4-3283-4931-af8b-6fb9fdb8b1aa,$86.00,NaN,RmFjaWFsIENsZWFuc2Vycw,TWlsayBDbGVhbnNlcg,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
13729996,fcaedae7-dc20-4da1-b4ae-77368c973088,$69.99,NaN,Um9vbSBkZWNvcg,UGxhbnRlcnMvVmFzZXM,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
13729999,0f4550de-1f33-48b5-a5ef-fc5e39df208e,$55.00,NaN,TG9hZmVycy8gT3hmb3Jkcw,d29tZW5zIE94Zm9yZHMgYW5kIExvYWZlcnM,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz

In [96]:
 # product without prices
 df1

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
5,389d9f75-cc3f-4bd2-94f7-93e381a3bed5,NaN,NaN,TmF0dXJhbCBTd2VldGVuZXJzLyBTdWdhcg,TW9uayBGcnVpdA,Z3JvY2VyaWVz
13,1f2766ec-0a27-43f8-b28b-77a44492ead1,NaN,NaN,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U2NydWJz,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
16,7bad39f5-74b9-4611-afb9-46fb135190cd,NaN,NaN,UGx1cyBzaXplIHdlYXIgZHJlc3M,RHJlc3M,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
...,...,...,...,...,...,...
13729992,8d763911-79b7-402d-8964-6bfe89692c66,NaN,NaN,TWVucyB3b3Jrd2Vhci8gb2ZmaWNlIHdlYXI,U2hpcnRz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
13729993,2dc182aa-d591-49e4-85d1-5c4a60a09664,NaN,NaN,U3BpY2Vz,UGVwcGVy,Z3JvY2VyaWVz
13729995,2a13338e-9268-4f7b-9e7c-b8c41c72971b,NaN,NaN,RHJlc3Nlcw,TWF4aSBkcmVzcw,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
13729997,679f073a-862a-4e43-b5ce-41e45afd3bfa,NaN,NaN,UGV0IEZvb2Q,RHJ5IERvZyBGb29k,cGV0IHN1cHBsaWVz
13729998,25677eee-c26b-4abf-bd10-ca77a800ba26,NaN,NaN,U2F1Y2U,QkJRIFNhdWNl,Z3JvY2VyaWVz

In [97]:
# 3-Correct Product Prices in the correct format (eg: $56) wherever possible and separate them into currency and value columns
# here I am gonna use only price_string columns

In [98]:
# seeing the unique values in column
df2['price_string'].unique()

array(['$19.95', '$92.00', '11.50', '$24.99', '$148.00', '$89', '$14.95',
       '$55.00', '32.99', '52.00', '$11.30', '$13.99', '$6.95', '$0.00',
       '$129', '$10.99', '$6.49', '$18.99', '$179', '$9.99', '$3.99',
       '$549', '$16.99', '$49.99', '$90.00', '$12.99', '$59', '$85.00',
       '$128.00', '$150', '$6.99', '$34.00', '$248.00', '$4.99', '$65',
       '11.00', '$459', '$199', '14.95', '$135.05', '$1099', '$7.97',
       '$6.75', '$15.00', '$5.29', '$10.00', '7.00', '$80.00', '$2.29',
       '$119', '6.60', '$399', '$39.95', '12.00', '$8.99', '$79', '$35',
       '$34.95', '$99', '$18.95', '$459.99', '$58.00', '$25.70', '$3.50',
       '$619.00', '$95', '$159', '$45', '$149', '$85', '$8.95', '$69',
       '$14.00', '$38.00', '$6.50', '$12.50', '$24.00', '$27.00',
       '$82.75', '$9.95', '$26.96', '$17.96', '$15.99', '$6.17', '$75',
       '$250', '$29.00', '$1198', '$18.00', '$45.00', '$44.00', '$14.99',
       '$249', '$86.00', '$160', '$14.37', '$7.99', '$178', '$50.00',
       '$58', '$279', '$75.00', '$13.29', '$26.00', '$5.00', '$19.99',
       '$6.00', '$28.00', '$32.99', '$48.00', '$178.00', '22.00', '17.00',
       '$18.49', '$130', '$99.00', '$36.00', '$79.00', '$70.00', '$4.49',
       '$4.00', '$16.00', '$200', '$379', '$118.00', '$11.99', '$29.99',
       '$20.00', '$7.00', '$149.99', '$339', '$25.00', '67.00', '$22.95',
       '$18', '$7.49', '$6.25', '$69.99', '$5.99', '$26.95', '$299',
       '$145.00', '$49', '$17', '$8.00', '$30.00', '$23.00', '$59.99',
       '$4.50', '$22', '$198.00', '$53.99', '$34.99', '$47.95', '$229',
       '$22.00', '$42.00', '$2.49', '$3.49', '$139', '$120.00', '$20.95',
       '$26', '$55', '$189.97', '$150.00', '$3.79', '$40.00', '$30',
       '$359', '$20.99', '$5.45', '$85.99', '$19.56', '$11.00', '$155.85',
       '$72.00', '$158.00', '$65.00', '$31.00', '$50', '$73.00',
       '$279.97', '$499', '$41.99', '$4.79', '13.00', '$29.97', '$195',
       '$260', '$2.50', '$130.00', '$49.00', '$76.00', '$125', '$44.99',
       '$175.00', '$7.71', '$2.75', '$61.69', '$11.75', '$389', '$80',
       '$129.00', '$138.00', '$9.40', '$228.00', '$14.49', '$99.99',
       '$27.99', '$60.00', '$17.99', '$9.75', '$449', '$24.95', '$12.95',
       '21.00', '$68', '$100', '$52', '$495', '108.00', '$115.20',
       '$100.00', '$39.99', '$98.00', '$59.95', '$24', '$23.99', '$95.00',
       '$6.39', '$43.96', '$30.95', '$9.00', '$56.30', '$6.13', '$198',
       '$209.97', '$599', '$22.46', '5.75', '$8.49', '$119.97', '$10.29',
       '$35.96', '$119.00', '$14.50', '$268.00'], dtype=object)

In [99]:
for i in df2['price_string'].unique():
  if i[0]!='$':
    df2.loc[df2[df2['price_string']==i].index,'price_string']='$'+i

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [100]:
# now values has been modified in this manner '$45'
df2['price_string'].unique()

array(['$19.95', '$92.00', '$11.50', '$24.99', '$148.00', '$89', '$14.95',
       '$55.00', '$32.99', '$52.00', '$11.30', '$13.99', '$6.95', '$0.00',
       '$129', '$10.99', '$6.49', '$18.99', '$179', '$9.99', '$3.99',
       '$549', '$16.99', '$49.99', '$90.00', '$12.99', '$59', '$85.00',
       '$128.00', '$150', '$6.99', '$34.00', '$248.00', '$4.99', '$65',
       '$11.00', '$459', '$199', '$135.05', '$1099', '$7.97', '$6.75',
       '$15.00', '$5.29', '$10.00', '$7.00', '$80.00', '$2.29', '$119',
       '$6.60', '$399', '$39.95', '$12.00', '$8.99', '$79', '$35',
       '$34.95', '$99', '$18.95', '$459.99', '$58.00', '$25.70', '$3.50',
       '$619.00', '$95', '$159', '$45', '$149', '$85', '$8.95', '$69',
       '$14.00', '$38.00', '$6.50', '$12.50', '$24.00', '$27.00',
       '$82.75', '$9.95', '$26.96', '$17.96', '$15.99', '$6.17', '$75',
       '$250', '$29.00', '$1198', '$18.00', '$45.00', '$44.00', '$14.99',
       '$249', '$86.00', '$160', '$14.37', '$7.99', '$178', '$50.00',
       '$58', '$279', '$75.00', '$13.29', '$26.00', '$5.00', '$19.99',
       '$6.00', '$28.00', '$48.00', '$178.00', '$22.00', '$17.00',
       '$18.49', '$130', '$99.00', '$36.00', '$79.00', '$70.00', '$4.49',
       '$4.00', '$16.00', '$200', '$379', '$118.00', '$11.99', '$29.99',
       '$20.00', '$149.99', '$339', '$25.00', '$67.00', '$22.95', '$18',
       '$7.49', '$6.25', '$69.99', '$5.99', '$26.95', '$299', '$145.00',
       '$49', '$17', '$8.00', '$30.00', '$23.00', '$59.99', '$4.50',
       '$22', '$198.00', '$53.99', '$34.99', '$47.95', '$229', '$42.00',
       '$2.49', '$3.49', '$139', '$120.00', '$20.95', '$26', '$55',
       '$189.97', '$150.00', '$3.79', '$40.00', '$30', '$359', '$20.99',
       '$5.45', '$85.99', '$19.56', '$155.85', '$72.00', '$158.00',
       '$65.00', '$31.00', '$50', '$73.00', '$279.97', '$499', '$41.99',
       '$4.79', '$13.00', '$29.97', '$195', '$260', '$2.50', '$130.00',
       '$49.00', '$76.00', '$125', '$44.99', '$175.00', '$7.71', '$2.75',
       '$61.69', '$11.75', '$389', '$80', '$129.00', '$138.00', '$9.40',
       '$228.00', '$14.49', '$99.99', '$27.99', '$60.00', '$17.99',
       '$9.75', '$449', '$24.95', '$12.95', '$21.00', '$68', '$100',
       '$52', '$495', '$108.00', '$115.20', '$100.00', '$39.99', '$98.00',
       '$59.95', '$24', '$23.99', '$95.00', '$6.39', '$43.96', '$30.95',
       '$9.00', '$56.30', '$6.13', '$198', '$209.97', '$599', '$22.46',
       '$5.75', '$8.49', '$119.97', '$10.29', '$35.96', '$119.00',
       '$14.50', '$268.00'], dtype=object)

In [101]:
df2['price'] = df2['price_string']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [102]:
for i in df2['price_string'].unique():
  if i[0]=='$':
    df2.loc[df2[df2['price']==i].index,'price']=float(i[1:])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [106]:
#4-List out the categories with average price of product
# here we are importing numpy for taking mean
import numpy as np
average = np.mean(df2['price'])
average

70.02898366696627

In [107]:
# here is the column for average price of the product with categories
df2[df2['price']==70.00]

,uuid,price_string,price_string_unf,product_type,level_1,category,price
473,983b2530-c0ba-4063-867d-6aea30521f9e,$70.00,NaN,V29tZW5zIHN3aW13ZWFy,UmFzaGd1YXJk,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,70.0
2410,983b2530-c0ba-4063-867d-6aea30521f9e,$70.00,NaN,V29tZW5zIHN3aW13ZWFy,UmFzaGd1YXJk,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,70.0
5373,983b2530-c0ba-4063-867d-6aea30521f9e,$70.00,NaN,V29tZW5zIHN3aW13ZWFy,UmFzaGd1YXJk,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,70.0
6322,983b2530-c0ba-4063-867d-6aea30521f9e,$70.00,NaN,V29tZW5zIHN3aW13ZWFy,UmFzaGd1YXJk,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,70.0
11784,983b2530-c0ba-4063-867d-6aea30521f9e,$70.00,NaN,V29tZW5zIHN3aW13ZWFy,UmFzaGd1YXJk,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,70.0
...,...,...,...,...,...,...,...
13723976,983b2530-c0ba-4063-867d-6aea30521f9e,$70.00,NaN,V29tZW5zIHN3aW13ZWFy,UmFzaGd1YXJk,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,70.0
13725880,983b2530-c0ba-4063-867d-6aea30521f9e,$70.00,NaN,V29tZW5zIHN3aW13ZWFy,UmFzaGd1YXJk,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,70.0
13727397,983b2530-c0ba-4063-867d-6aea30521f9e,$70.00,NaN,V29tZW5zIHN3aW13ZWFy,UmFzaGd1YXJk,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,70.0
13727639,983b2530-c0ba-4063-867d-6aea30521f9e,$70.00,NaN,V29tZW5zIHN3aW13ZWFy,UmFzaGd1YXJk,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,70.0
13729356,983b2530-c0ba-4063-867d-6aea30521f9e,$70.00,NaN,V29tZW5zIHN3aW13ZWFy,UmFzaGd1YXJk,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,70.0